<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script defer src="{{ asset('js/jquery-3.6.1.min.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <header>
                <img src="{{ asset('images/logo.svg') }}" alt="Bucket List">
                <span>Bucket List</span>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('wish_list') }}">Souhaits</a>
                        </li>
                        <li>
                            <a href="{{ path('wish_create') }}">Ajouter un souhait</a>
                        </li>
                        <li>
                            <a href="{{ path('about_us') }}">A propos</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
                <div class="container">
                    © Bucket-List {{ 'now'|date('Y') }}
                    <a href="{{ path('legal_stuff') }}">Mentions légales</a>
                </div>
            </footer>
        </div>

    </body>
</html>
